:host{
    display: flex;
    flex: 1;
    width: 100%;
    max-height: 85px;
    align-items: center;
    justify-content: flex-end;

    padding: 20px 20px;
    box-sizing: border-box;

    .profile{
        cursor: pointer;
        margin-left: 30px;
        display: flex;
        align-items: center;

        .info{
            margin: 0 20px 0 10px;
            p{
                margin: 0;

                &.name{
                    font-weight: bold;
                }
            }
        }
    }

    .notifications{
        cursor: pointer;
    }
}